.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:#F5F5F5;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Heading-Container {
  box-shadow: 2px 2px 2px black;
  background-color:#E8E8E8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: black;
  font-family: 'Gill Sans';
}

.heading1 {
  color: grey;
  font-family: 'Gill Sans';
  margin: 0px
} 

.heading2 {
  color: grey;
  font-family: 'Gill Sans';
  margin: 0px;
} 

.Heading-Container-padding {
  padding-bottom: 2vmin;
}

.Button {
  color: #61dafb;
  background-color: #282c34;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px lightgray;
}

.Button1 {
  color: #61dafb;
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px lightgray;
}

.Button-Container {
  padding-bottom: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Button-Container1 {
  padding-top: 6vmin;
}

.list-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.list {
  color: black;
  font-size: 15px;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  box-shadow: 0px 2px 2px #B0B0B0;
  border-color: black;
  border-radius: 1px;
}

.list-column {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 2vmin;
}

.Button-Refresh {
  color: #61dafb;
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  width: 90px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px lightgray;
}

.form {
  color: black;
  font-size: 22px;
  font-family: 'Gill Sans';
}

.api {
  font-size: 18px;
}

.form-control {
  width: 200px;
  font-weight: bold;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
